.main{
	margin:0 auto;
	text-align: center;
	position: relative;
	height: 500px;
	padding-top: 140px;
}
html,body{
	height:100%;
	font-family: arial,sans-serif;
	font-size: 16px;
}
#logo{
	width: 300px;
	height: 110px;
}
#searchstring{
	width: 480px;
	margin-top: 15px;
}
.buttons{
	margin-top: 10px;
}
.navbar{
	float:right;
	margin-right:50px;
}
.navlinks{
	list-style: none;
}
.navlink{
	display: inline;
	padding-right: 20px;
}